form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap:10px;
    padding-top: 30px;
    margin-top: 130px;
    
}
.HomePage{
    margin-left: 200px;
    width: 597px;
    height: 150px;
    
    border-radius: 6px;
    
    
}
